* {
    box-sizing: border-box;
    font-family: Roboto, Tahoma, Helvetica, sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    width: fit-content;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #1f2937;
    padding: 20px 150px;
}

.hero {
    background-color: #1f2937;
    padding: 50px 150px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h2 {
    color: #f9faf8;
    font-size: 40px;
    margin: 0;
}

.hero-text {
    color: #e5e7eb;
    margin: 0;
    padding: 10px 0 15px;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

button {
    color: #f9faf8;
    width: fit-content;
    background-color: #3882f6;
    font-size: 16px;
    padding: 5px 25px;
    border-radius: 8px;
    border: none;
}

.hero-image {
    color: #e5e7eb;
    background-color: rgb(109, 116, 125);
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: #1F2937;
    margin: 0;
    padding: 30px 0;
}

.box {
    border: #3882f6 solid 3px;
    height: 140px;
    width: 140px;
    display: inline-block;
    border-radius: 10px;
    flex-shrink: 0;

}

.image-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.image-box {
    width: 130px;
    text-align: center;
}

.image-box p {
    color: rgb(109, 116, 125);
    font-size: 16px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.quote {
    color: #1F2937;
    font-size: 30px;
    font-weight: 100;
}

.author {
    margin-left: auto;
}